.star-rating {
    text-align: center;
}

.star-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: #000;
}

.off {
    color: #ccc;
}

.rate-btn {
    margin-left: 1rem;
    font-size: 10pt;
    cursor: pointer;
    color: grey;
}

.rate-btn:hover {
    color: black;
}