:root {
    --fancy-card1: 56, 36, 102;
    --fancy-card2: 81, 17, 171;
    --fancy-card3: 236, 142, 121;
    --sandbox-entry-transition: filter .3s ease-in-out, transform .3s ease-in-out;
    --shadow: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 0 4px rgba(0, 0, 0, 0.1));
    --hover-shadow: drop-shadow(4px 0 5px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0 5px rgba(0, 0, 0, 0.15));
    --hover-translate: translateY(-4px);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,
body {
    height: 100%;
}



label {
    font-weight: var(--nextui-fontWeights-normal);
    color: var(--nextui--inputLabelColor);
    padding: 0 0 0 var(--nextui-space-2);
    margin-bottom: var(--nextui-space-3);
    font-size: var(--nextui--inputFontSize);
    line-height: var(--nextui-lineHeights-md);
    user-select: none;
    --nextui--inputFontSize: var(--nextui-fontSizes-sm);
    --nextui--inputHeightRatio: 2;
}

#__next,
#__next>div {
    height: 100%;
}

pre {
    background-color: #2e2e2e;
    color: #d6d6d6;
}

pre>code {
    background-color: transparent;
    color: #d6d6d6;
}
