:root {
    --fancy-card1: 56, 36, 102;
    --fancy-card2: 81, 17, 171;
    --fancy-card3: 243, 18, 96, 1;
    --sandbox-entry-transition: filter .3s ease-in-out, transform .3s ease-in-out;
    --shadow: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.10)) drop-shadow(-2px 0 4px rgba(0, 0, 0, 0.10));
    --hover-shadow: drop-shadow(4px 0 5px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0 5px rgba(0, 0, 0, 0.15));
    --hover-translate: translateY(-3.5px);
    --hover-translate: translateY(-4px);
    --primary-light: #CAB1EF;
    /* originally $blue200 */
    --primary-light-hover: #9D7FD1;
    /* originally $blue300 */
    --primary-light-active: #6E54A3;
    /* originally $blue400 */
    --primary-light-contrast: #2B1A57;
    /* originally $blue600 */
    --primary: #2B1A57;
    /* originally $blue600 */
    --primary-border: #382466;
    /* originally $blue500 */
    --primary-border-hover: #2B1A57;
    /* originally $blue600 */
    --primary-solid-hover: #1F1249;
    /* originally $blue700 */
    --primary-solid-contrast: #fff;
    /* originally $white */
    --primary-shadow: #382466;
    /* originally $blue500 */
    --secondary-light-contrast: #7828C8;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    overflow-y: scroll;
}

body {
    height: 100%;
}



label {
    font-weight: var(--nextui-fontWeights-normal);
    color: var(--nextui--inputLabelColor);
    padding: 0 0 0 var(--nextui-space-2);
    margin-bottom: var(--nextui-space-3);
    font-size: var(--nextui--inputFontSize);
    line-height: var(--nextui-lineHeights-md);
    user-select: none;
    --nextui--inputFontSize: var(--nextui-fontSizes-sm);
    --nextui--inputHeightRatio: 2;
}

#__next,
#__next>div {
    height: 100%;
}