.hero-section {
    margin-top: 3rem;
}

.trust-builder-image {
    filter: brightness(0.8);
}


.hero-paragraph {
    font-size: 1.6rem;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.5;
    margin-bottom: 1.0rem;
    text-align: center;
}

@media (max-width: 1281px) {
    .hero-paragraph {
        font-size: 1.25rem;
    }
}

@media (max-width: 961px) {
    .hero-paragraph {
        font-size: 1.4rem;
    }
}

@media (max-width: 481px) {
    .hero-paragraph {
        font-size: 1.2rem;
    }
}

.no-hover:hover {
    opacity: 1 !important;
}


.templates-btn {
    font-size: 1.1rem;
    filter: var(--shadow);
    color: var(--primary);
    background-color: var(--primary-light);
    border-radius: var(--nextui-radii-base);
    padding-left: var(--nextui-space-9);
    padding-right: var(--nextui-space-9);
    height: var(--nextui--buttonHeight);
    line-height: var(--nextui-space-15);
    width: auto;
    min-width: var(--nextui-space-60);
    text-align: center;
    font-weight: var(--nextui-fontWeights-medium);
    transition: transform 0.25s ease-in-out;
}

.templates-btn:hover {
    filter: var(--hover-shadow);
    transform: var(--hover-translate);
    transition: transform 0.25s ease-in-out;
}

.sandbox-btn {
    font-size: 1.1rem;
    filter: var(--shadow);
    background: var(--nextui-colors-secondaryLight);
    color: var(--nextui-colors-secondaryLightContrast);
    background-color: var(--primary-light);
    border-radius: var(--nextui-radii-base);
    padding-left: var(--nextui-space-9);
    padding-right: var(--nextui-space-9);
    height: var(--nextui--buttonHeight);
    line-height: var(--nextui-space-15);
    width: auto;
    min-width: var(--nextui-space-60);
    text-align: center;
    transition: transform 0.25s ease-in-out;
}

.sandbox-btn:hover {
    filter: var(--hover-shadow);
    transform: var(--hover-translate);
    transition: transform 0.25s ease-in-out;
}

.trust-builders {
    margin-top: 9.0rem;
    margin-bottom: 15.0rem;
}

@media (max-width: 1281px) {
    .trust-builders {
        margin-top: 4.0rem;
    }
}

@media (max-width: 961px) {
    .trust-builders {
        margin-top: 8.0rem;
    }
}

@media (max-width: 481px) {
    .trust-builders {
        margin-top: 4.0rem;
    }
}