.send-button {
    font-size: 18px;
    padding: 8px;
    position: absolute;
    border-radius: var(--nextui-radii-md);
    right: 12px;
    bottom: .8rem;
    height: calc(2em + 1px);
    transition: var(--sandbox-entry-transition);
    filter: drop-shadow(2px 0 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 0 3px rgba(0, 0, 0, 0.1));
}

.send-button:hover {
    filter: drop-shadow(4px 0 5px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0 5px rgba(0, 0, 0, 0.15));
    transform: translateY(-4px);
}

.user-message-textarea {
    white-space: pre-wrap;
    margin-bottom: .3rem;
    transition: var(--sandbox-entry-transition);
    filter: drop-shadow(2px 0 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 0 3px rgba(0, 0, 0, 0.1)); 
    width: initial;
    margin-right: 45px;
}

.user-message-textarea:hover {
    filter: drop-shadow(4px 0 5px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0 5px rgba(0, 0, 0, 0.15));
    transform: translateY(-4px);
}

.sandbox-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sandbox-footer>div {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
}

.user-message-textarea label {
    margin-bottom: 0;
}

.user-input-form {
    width: 100%;
    position: relative;
}

.chat-box {
    height: 100%;
}

.chat-box-messages {
    display: inline-block;
    padding: 8px;
    max-width: 80%;
    margin: 4px 0;
}

.message {
    display: inline-block;
    max-width: 80%;
    padding: 8px;
    margin: 4px 0;
    border-radius: 12px;
    filter: drop-shadow(2px 0 3px rgba(0, 0, 0, 0.1)) drop-shadow(-2px 0 3px rgba(0, 0, 0, 0.1));
} 

.message.user {
    color: white;
    align-self: flex-end;
    background: #382466;
    border-bottom-right-radius: 0;
}

@keyframes jmp {
    50% {
        transform: translateY(-10%);
        color: grey;
    }

    75% {
        transform: translateY(0);
        color: black;
    }
}

.typing-dots span {
    display: inline-block;
    animation-name: jmp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.33s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.66s;
}