.sandbox-footer {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .9rem;
}


.send-button {
    font-size: 18px;
    padding: 10px;
    border-radius: var(--nextui-radii-md);
    right: 4px;
    bottom: -.4rem;
    max-height: 7.7rem;
    min-height: 2.5rem;
    height: calc(180% - 5.9rem);
    transition: var(--sandbox-entry-transition);
    filter: var(--shadow);
}

.send-button:hover {
    filter: var(--hover-shadow);
    transform: var(--hover-translate)
}

.user-message-textarea {
    white-space: pre-wrap;
    padding-bottom: .9rem;
    padding-top: 1rem;
    transition: var(--sandbox-entry-transition);
    filter: var(--shadow);
    width: initial;
    margin-right: 0px;

}

.user-message-textarea:hover {
    filter: var(--hover-shadow);
    transform: var(--hover-translate)
}

@media (max-width: 991px) {
    .sandbox-card {
        height: 80vh !important;
        max-height: calc(80vh - 5rem) !important;
    }
}


.sandbox-footer>div {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
}

.user-message-textarea label {
    margin-bottom: 0;
}

.user-input-form {
    width: 100%;
    position: relative;
}

.chat-box {
    height: 100%;
}

.chat-box-messages {
    display: inline-block;
    max-width: 80%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 12px;
    filter: var(--shadow);
}

.message.user {
    color: white;
    align-self: flex-end;
    background: #382466;
    border-bottom-right-radius: 0;
}

@keyframes jmp {
    50% {
        transform: translateY(-10%);
        color: grey;
    }

    75% {
        transform: translateY(0);
        color: black;
    }
}

.typing-dots span {
    display: inline-block;
    animation-name: jmp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.33s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.66s;
}